<table class="table table-condensed table-responsive table-bordered" style ="border-radius: 4px !important;border-color: #ccc !important;">

    <tr class="active">
        <td rowspan="2" style ="vertical-align: middle; background-color: #c4cdc1;color: #2f575d;border-color: #ccc"><b>{{ct.nombre}}</b></td>
        <td style ="background-color: #c4cdc1;color: #2f575d;border-color: #ccc" ng-repeat="f in ct.metaprops" class="text-right" ng-if="ct.bean[f.name] && f.type != 'foreign'">
            <b>{{f.longname}}</b> 
        </td>
    </tr>

    <tr>
        <td style ="background-color: whitesmoke;color: slategrey;border-color: #ccc;font-size: 12px;" ng-repeat="f in ct.metaprops" class="text-right" ng-if="ct.bean[f.name] && f.type != 'foreign'">

            <span ng-if="f.name == 'id'"><b>{{ct.bean[f.name]}}</b></span>
            <span ng-if="f.type.startsWith('longtext')" ng-bind-html="ct.bean[f.name] | breakFilter"></span>
            <span ng-if="f.type.startsWith('date')">{{ct.bean[f.name]}}</span>
            <span ng-if="f.type.startsWith('int') && !f.name.startsWith('id')">{{ct.bean[f.name]}}</span>
            <span ng-if="f.type.startsWith('decimal')">{{ct.bean[f.name]}}</span>
            <span ng-if="f.type.startsWith('varchar')">{{ct.bean[f.name]|clipString}}</span>
            <span ng-if="f.type.startsWith('tinyint')" ng-bind-html="ct.bean[f.name] | booleanizate"></span>
        </td>  
    </tr>
</table>
