<div id="{{fk.name}}_group" class="input-group foreign control">
    <span class="input-group-addon" id="{{fk.name}}_button" ng-click="fk.chooseOne()">
        <span class="glyphicon glyphicon-search"></span>
    </span>                                        
    <input type="text" 
           class="form-control" 
           id="{{fk.name}}" 
           name="{{fk.name}}"
           ng-model-options="{debounce: 1000}" 
           ng-model="fk.bean.id"
           ng-change="fk.change_value()"
           ng-required="{{fk.required}}"    
           size="5" 
           maxlength="5">                                        
    <span class="input-group-addon">
        <span>{{fk.desc}}</span>
    </span> 
</div>