<div id="{{fk.name}}_group" ng-class="['input-group','foreign','control',{'has-error': fk.form[fk.name].$error.exists}]">
    <span class="input-group-addon" id="{{fk.name}}_button" ng-click="fk.chooseOne()">
        <span class="glyphicon glyphicon-search">
        </span>
    </span>                                        
    <input type="text" 
           ng-model-options="{debounce: 1000}" 
           ng-model="fk.bean.data.id"
           ng-change="fk.change(fk.bean.data.id)"
           validatemin="0" 
           ng-required="{{fk.required}}"  
           aria-describedby="basic-addon2" 
           class="form-control" 
           id="{{fk.name}}" 
           size="5" 
           maxlength="5" />                                        
    <span class="input-group-addon">
        <span>{{fk.desc}}</span>
    </span> 
</div>
<span class="help-block" ng-if="fk.form[fk.name].$error.exists">Debes elegir uno/a que exista</span>