<div class="btn-group">

    <a class="btn btn-default btn-xs" title="View" href="{{act.appurl}}{{act.name}}/view/{{act.id}}">
        <span class="glyphicon glyphicon-eye-open"></span>
    </a>

    <a class="btn btn-default btn-xs" title="Edit" href="{{act.appurl}}{{act.name}}/edit/{{act.id}}">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>

    <a class="btn btn-default btn-xs" title="Remove" href="{{act.appurl}}{{act.name}}/remove/{{act.id}}">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>                                              